<!-- start about the author -->
{{#author}}
    <div class="ui author card">
        <div class="image">
            {{#if profile_image}}
                <img src="{{profile_image}}">
            {{else}}
                <img src="{{asset "images/default-user-image.jpg"}}">
            {{/if}}
        </div>
        <div class="content">
            <a class="header" href="{{url absolute="true"}}">{{name}}</a>
            <div class="meta">
                <span class="icon link outline"></span>
                <span class="url"><a href="{{website}}">{{website}}</a></span>
            </div>
            {{#if bio}}
                <div class="description">
                    {{bio}}
                </div>
            {{/if}}

        </div>
        <div class="extra content">
            <div class="ui secondary basic tiny button"><a href="{{url}}">Read More</a></div>
        </div>
    </div>


{{/author}}
<!-- end about the author -->
