<!-- start about the author -->
{{#author}}
    <div class="column">
        <!--<br/><br/>-->
        <div class="post-card ui card align-center">
            <br><br/>
            {{#if profile_image}}
                <a href="{{url}}" title="{{name}}"><img src="{{profile_image}}" alt="Author image" class="avatar"></a>
            {{else}}
                <a href="{{url}}" title="{{name}}"><img src="{{asset "images/default-user-image.jpg"}}" alt="Author image" class="avatar"></a>
            {{/if}}
            <h2 class="header">{{name}}</h2>
                <a href="{{url absolute="true"}}"><i class="external link alternate icon"></i>{{url}}</a>
                <br><br/>
            {{#if bio}}
                <div class="bio">
                    {{bio}}
                </div>
            {{/if}}
            <br><br/>
            <div class="ui bottom attached button"><h5><a href="{{url}}">MORE</a></h5></div>


        </div>
    </div>
{{/author}}
<!-- end about the author -->
