<!-- start cover -->
<div class="cover-author">
    {{#author}}
        <div class="ui author card wide grid">
            <div class="four wide column">
                <div class="image">
                    {{#if profile_image}}
                        <img src="{{profile_image}}">
                    {{else}}
                        <img src="{{asset "images/default-user-image.jpg"}}">
                    {{/if}}
                </div>
            </div>
            <div class="twelve wide column">
                <div class="content">
                    <a class="header" href="{{url absolute="true"}}">{{name}}</a>
                    <div class="meta">
                        <span class="icon link outline"></span>
                        <span class="url"><a href="{{website}}">{{website}}</a></span>
                    </div>
                    {{#if bio}}
                        <div class="description">
                            {{bio}}
                        </div>
                    {{/if}}

                </div>
            </div>
        </div>
    {{/author}}

</div>
<!-- end cover -->
