<!-- start cover -->
<section class="cover-author">
	<div class="container">
        <div class="ui segment" style="padding-top: 50px">
            <div class="ui centered grid">
                <div class="six wide right aligned column">
					 <div class="avatar-wrap">
						{{#if author.profile_image}}
							<img src="{{author.profile_image}}" alt="Author image" class="avatar">
							{{else}}
							<img src="{{asset "images/default-user-image.jpg"}}" alt="Author image" class="avatar">
						{{/if}}
					</div>
                </div>
                <div class="ten wide left aligned column">
					<h2 class="author-name" style="color: black">{{author.name}}</h2>

                    <a href="https://www.lauraygao.com"><i class="external link alternate icon"></i>lauraygao.com</a>
					{{#if author.bio}}
                        <p class="description"><i>{{author.bio}}</i></p>
					{{/if}}
					<ul class="author-social">
						{{#if author.twitter}}<li><a href="{{twitter_url author.twitter}}"><i class="fa fa-twitter"></i></a></li>{{/if}}
						{{#if author.facebook}}<li><a href="{{facebook_url author.facebook}}"><i class="fa fa-facebook"></i></a></li>{{/if}}
						{{#if author.website}}<li><a href="{{author.website}}" target="_blank"><i class="fa fa-globe"></i></a></li>{{/if}}
						{{#if author.location}}<li class="location"><i class="fa fa-map-marker"></i>{{author.location}}</li>{{/if}}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end cover -->
