<!-- start footer -->
<footer class="site-footer">
    <div class="footer-bottom">
        <div class="ui center aligned grid">
            <div class="column">
                <div class="ui center aligned container">
                    {{navigation}}
                </div>
<<<<<<< HEAD
            </div>
        </div>
        <div class="ui four column center aligned grid">
            <div class="column">
                <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; 2017-{{date format="YYYY"}}
                <!--Powered by <a href="https://ghost.org/">Ghost</a>-->
=======
>>>>>>> master
            </div>
        </div>
        <div class="ui four column center aligned grid">
            <div class="column">
                <a href="{{@blog.url}}">The Sign.al &copy; 2017-2018</a>
            </div</div>
    </div>
</footer>
<<<<<<< HEAD
<!-- end footer -->
=======
>>>>>>> master
