<!-- start header -->
<header class="site-header" id="main-navbar">
	<div class="container">
		<div class="row">
			<div class="ui top fixed menu" style="text-align: right">
				<!-- start logo -->
				{{#if @blog.logo}}
				<a class="logo image-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}"></a>
                {{/if}}
				<a class="logo text-logo" href="{{@blog.url}}">{{@blog.title}}</a>

                <!--<div class="nav">-->
                {{navigation}}


				<!-- end logo -->
			</div>
			{{! insert navigation partial}}

		</div>
	</div>
</header>
<!-- end header -->