<!-- start header -->
<header class="site-header" id="main-navbar">
	<div class="container">
		<div class="row">
			<div class="ui top fixed menu" style="text-align: right">
					<!-- start logo -->
					{{#if @blog.logo}}
					<a class="logo image-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}"></a>
					{{else}}
					<a class="logo text-logo" href="{{@blog.url}}">{{@blog.title}}</a>
					{{/if}}

					<!--navigation-->
					{{navigation}}

					<div class="nav-right pull-right align-right">
					<span class="search-toggle" id="search-button" data-toggle="modal" data-target="#searchmodal"><i class="fa fa-search align-center"></i></span>

				</div>
			</div>
		</div>
	</div>
</header>
<!-- end header -->
