<div class="row is-flex">
	{{#foreach posts}}
	<div class="col-sm-6 col-md-4 col-xs-12">
		<article class="post post-card">
			{{#if feature_image}}
			<a href="{{url absolute="true"}}" class="permalink">
				<div class="featured-image" style="background-image: url({{feature_image}})"></div>
			</a>
			{{/if}}
			<div class="content-wrap">
				<div class="entry-header align-center">
					{{#if tags}}
					<span class="category">{{tags separator=", "}}</span>
					{{/if}}
					<h3 class="title h4"><a href="{{url absolute="true"}}" rel="bookmark">{{title}}</a></h3>
				</div>
				<div class="entry-footer clearfix">
					{{#author}}
					<div class="author">
						<a href="{{url}}" rel="author">
							<img class="avatar" src="{{profile_image}}" alt="avatar">
							<span class="name">{{name}}</span>
						</a>
					</div>
					{{/author}}
					<div class="published-date">
						<time class="time" datetime="{{date format="YYYY-MM-DD HH:MM:SS"}}">{{date format="MMMM DD, YYYY"}}</time>
					</div>
				</div>
			</div>
		</article>
	</div>
	{{/foreach}}
</div>
{{pagination}}