{{#next_post}}
		<div class="column">
            <!--<br/><br/>  &lt;!&ndash; Space to breathe *hmm* &ndash;&gt;-->
            <div class="post-card ui card">
                {{#if feature_image}}
                    <a href="{{url absolute="true"}}" class="permalink">
                        <div class="featured-image" style="background-image: url({{feature_image}})"></div>
                    </a>
                {{/if}}
                <div class="content">
                    <h3 class="title h4"><a href="{{url absolute="true"}}" rel="bookmark">{{title}}</a></h3>
                    <div class="meta">
                        {{#author}}
                            <a class="author" href="{{url}}" rel="author">
                                <span class="name">{{name}}</span>
                            </a>
                        {{/author}}
                        <time class="time" datetime="{{date format="YYYY-MM-DD HH:MM:SS"}}" itemprop="datePublished">| {{date format="MMMM DD, YYYY"}}</time>
                    </div>
                    <div class="description">
                        After dropping out and becoming homeless, Dr. Vivienne Ming got a Ph.D., became a transgender rights
                        advocate, and devoted her life to researching purpose.
                    </div>
                </div>
                <div class="extra content">
                    <span><a class="article-type">INTERVIEW</a> |
                    {{#if tags}}
                        <span class="category">{{tags separator=", "}}</span>
                    {{/if}}
                </div>
            </div>
        </div>
{{/next_post}}
