<div class="prev-next-wrap {{#next_post}}has-next{{/next_post}}">
    <!--<div class="ui four column grid">-->
	<!--<div class="row is-flex">-->
		{{#next_post}}
		<div class="column">
			<article class="post post-card">
				<div class="prev-next-link align-center">
					<a class="" href="{{url absolute="true"}}">Next Post</a>
				</div>
				{{#if feature_image}}
				<a href="{{url absolute="true"}}" class="permalink">
					<div class="featured-image" style="background-image: url({{feature_image}})"></div>
				</a>
				{{/if}}
				<div class="content-wrap">
					<div class="entry-header align-center">
						{{#if tags}}
						<span class="category">{{tags separator=", "}}</span>
						{{/if}}
						<h3 class="title h4"><a href="{{url absolute="true"}}" rel="bookmark">{{title}}</a></h3>
					</div>
					<div class="entry-footer clearfix">
						{{#author}}
						<div class="author">
							<a href="{{url}}" rel="author">
								<img class="avatar" src="{{profile_image}}" alt="avatar">
								<span class="name">{{name}}</span>
							</a>
						</div>
						{{/author}}
						<div class="published-date">
							<time class="time" datetime="{{date format="YYYY-MM-DD HH:MM:SS"}}">{{date format="MMMM DD, YYYY"}}</time>
						</div>
					</div>
				</div>
			</article>
		</div>
		{{/next_post}}
	<!--</div>-->
    <!--</div>-->
</div>