<div class="centered row">
    <div class="fifteen wide column">
        <div class="ui secondary pointing right menu">
            <a class="active item">INDUSTRIES</a>
        </div>

        <div class="ui grid">
            <div class="stackable doubling three column row">
                <a class="column shortcut" href="/tag/academia">
                    <div class="ui three column grid middle aligned">
                        <div class="column">
                            <img src="{{asset "style/icons/category_academia.svg" }}">
                        </div>
                        <div class="ten wide column">
                            <div class="title">Academia<span class="count">0</span></div>
                        </div>
                    </div>
                </a>

                <a class="column shortcut" href="/tag/arts-entertainment">
                    <div class="ui three column grid middle aligned">
                        <div class="column">
                            <img src="{{asset "style/icons/category_arts_entertainment.svg" }}">
                        </div>
                        <div class="ten wide column">
                            <div class="title">Arts & Entertainment<span class="count">0</span></div>
                        </div>
                    </div>
                </a>

                <a class="column shortcut" href="/tag/design">
                    <div class="ui three column grid middle aligned">
                        <div class="column">
                            <img src="{{asset "style/icons/category_design.svg" }}">
                        </div>
                        <div class="ten wide column">
                            <div class="title">Design<span class="count">0</span></div>
                        </div>
                    </div>
                </a>

                <a class="column shortcut" href="/tag/education">
                    <div class="ui three column grid middle aligned">
                        <div class="column">
                            <img src="{{asset "style/icons/category_education.svg" }}">
                        </div>
                        <div class="ten wide column">
                            <div class="title">Education<span class="count">0</span></div>
                        </div>
                    </div>
                </a>

                <a class="column shortcut" href="/tag/category_entrepreneurship">
                    <div class="ui three column grid middle aligned">
                        <div class="column">
                            <img src="{{asset "style/icons/category_entrepreneurship.svg" }}">
                        </div>
                        <div class="ten wide column">
                            <div class="title">Entrepreneurship<span class="count">0</span></div>
                        </div>
                    </div>
                </a>

                <a class="column shortcut" href="/tag/healthcare">
                    <div class="ui three column grid middle aligned">
                        <div class="column">
                            <img src="{{asset "style/icons/category_healthcare.svg" }}">
                        </div>
                        <div class="ten wide column">
                            <div class="title">Healthcare<span class="count">0</span></div>
                        </div>
                    </div>
                </a>

                <a class="column shortcut" href="/tag/journalism">
                    <div class="ui three column grid middle aligned">
                        <div class="column">
                            <img src="{{asset "style/icons/category_journalism.svg" }}">
                        </div>
                        <div class="ten wide column">
                            <div class="title">Journalism<span class="count">0</span></div>
                        </div>
                    </div>
                </a>

                <a class="column shortcut" href="/tag/non-profits">
                    <div class="ui three column grid middle aligned">
                        <div class="column">
                            <img src="{{asset "style/icons/category_non_profits.svg" }}">
                        </div>
                        <div class="ten wide column">
                            <div class="title">Non-Profits<span class="count">0</span></div>
                        </div>
                    </div>
                </a>

                <a class="column shortcut" href="/tag/politics">
                    <div class="ui three column grid middle aligned">
                        <div class="column">
                            <img src="{{asset "style/icons/category_politics.svg" }}">
                        </div>
                        <div class="ten wide column">
                            <div class="title">Politics<span class="count">0</span></div>
                        </div>
                    </div>
                </a>

                <a class="column shortcut" href="/tag/technology">
                    <div class="ui three column grid middle aligned">
                        <div class="column">
                            <img src="{{asset "style/icons/category_tech.svg" }}">
                        </div>
                        <div class="ten wide column">
                            <div class="title">Technology<span class="count">0</span></div>
                        </div>
                    </div>
                </a>

                <a class="column shortcut" href="/tag/venture-capital">
                    <div class="ui three column grid middle aligned">
                        <div class="column">
                            <img src="{{asset "style/icons/category_venture_capital.svg" }}">
                        </div>
                        <div class="ten wide column">
                            <div class="title">Venture Capital<span class="count">0</span></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>