<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- stylesheets -->
    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "style/thesignal.css"}}">
    {{> config}}
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

</head>
<body>
{{{body}}}
{{> footer}}

<!-- scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{{asset "style/semantic.min.js"}}"></script>
<script src="{{asset "js/plugins.js"}}"></script>
<script src="{{asset "js/main.js"}}"></script>
<script src="{{asset "style/js/smart-underline.js"}}"></script>
{{ghost_foot}}
</body>
</html>
