{{!< default}}

<div class="ui image" id="about-header">
    {{> header}}
    <img src="{{asset "images/graphic_noise.svg"}}">
</div>

<div id="about-mission" class="ui twelve column centered grid about">
    <div id="about-mission-header" class="two wide left aligned column"><h4>MISSION</h4></div>
    <div id="about-mission-statement" class="ten wide left aligned column content">
        <div class="ui basic segment">
            <br/>
            <p>In 2017, The Signal began as a publication that encouraged the exploration of unconventional career paths
                and creative passions at Penn. Today, we are a collective of creators, designers, writers, and
                everything in between, with the goal of enhancing the undergraduate experience for all students. We
                provide resources to help students discover their passions and live deliberately at Penn, in their
                careers, and beyond.

                <br>
                <span class="icon link outline colored"></span>
                <a href="http://www.thesign.al/pages/anniversary">Check out our anniversary recap from Spring 2018</a>

            </p>

        </div>
    </div>
</div>
<br><br/>
<div class="ui twelve column centered grid about headshots team-photos-container" id="team">
    <div class="two wide left aligned column"><h4>THE TEAM</h4></div>
    <div class="ten wide left aligned column content">
        <div class="ui container">
            <div class="ui stackable four column grid">
                <!--{{#get 'users' limit='all' filter=status:active order='name asc'}}-->
                    <!--{{#foreach users}}-->
                        <!--<div class="column center aligned headshot">-->
                            <!--<div class="ui image">-->
                                <!--{{#if profile_image}}-->
                                    <!--<img src="{{profile_image}}" class="avatar">-->
                                <!--{{else}}-->
                                    <!--<img src="{{asset "images/default-user-image.jpg"}}" class="avatar">-->
                                <!--{{/if}}-->
                                <!--<div class="filter"></div>-->
                            <!--</div>-->
                            <!--<h3>{{name}}</h3>-->
                            <!--<p>Business</p>-->
                        <!--</div>-->
                    <!--{{/foreach}}-->
                <!--{{/get}}-->

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Abhi Motgi.jpg"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Abhi Motgi</h3>
                    <p>Content</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Adel Wu.jpg"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Adel Wu</h3>
                    <p>Designer</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Airika Yee.JPG"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Airika Yee</h3>
                    <p>Business</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Alicia Lu.jpg"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Alicia Lu</h3>
                    <p>Business</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Ben Fung.JPG"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Ben Fung</h3>
                    <p>Content</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{"/content/images/Bill He.jpg"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Bill He</h3>
                    <p>Co-founder</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{"/content/images/Cassandra Li.jpg"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Cassandra Li</h3>
                    <p>Developer</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{"/content/images/Eddie Cai.jpg"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Eddie Cai</h3>
                    <p>Designer</p>
                </div>


                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Grace Jiang.jpg"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Grace Jiang</h3>
                    <p>Developer</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Hal Memoglu.jpg"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Halil Can Memoglu</h3>
                    <p>Developer</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Hannah Wang.jpg"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Hannah Wang</h3>
                    <p>Developer</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Hoyt Gong.JPG"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Hoyt Gong</h3>
                    <p>Content</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Jerome Cohen.jpg"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Jerome Cohen</h3>
                    <p>Business</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Jessica Li.JPG"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Jessica Li</h3>
                    <p>Content</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Jonathan Mak.jpg"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Jonathan Mak</h3>
                    <p>Content</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Justin Lieb.jpg"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Justin Lieb</h3>
                    <p>Designer</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Kasra Koushan.jpg"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Kasra Koushan</h3>
                    <p>Co-director</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Kevin Vinke Xu.jpg"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Kevin Vinke Xu</h3>
                    <p>Content</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Mariri Niino.jpg"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Mariri Niino</h3>
                    <p>Content</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Melinda Hu.jpg"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Melinda Hu</h3>
                    <p>Co-director</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Miguel Dearmas.JPG"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Miguel De Armas</h3>
                    <p>Business</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Olivia O'Dwyer.JPG"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Olivia O'Dwyer</h3>
                    <p>Business</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Qi Linzhi.png"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Qi Linzhi</h3>
                    <p>Co-director</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Rajvi Gemawat.png"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Rajvi Gemawat</h3>
                    <p>Business</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Sammie Yoon.jpg"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Sammie Yoon</h3>
                    <p>Designer</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Sophia Ye.jpg"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Sophia Ye</h3>
                    <p>Developer</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Sophia Ly.jpg"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Sophia Ly</h3>
                    <p>Content</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Tunika Onnekikami.png"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Tunika Onnekikami</h3>
                    <p>Content</p>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src="{{asset "images/headshots/Will Yoo.jpg"}}" class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Will Yoo</h3>
                    <p>Co-founder</p>
                </div>

            </div>
        </div>
    </div>
</div>
<br><br/>
<div class="ui twelve column centered grid about headshots team-photos-container" id="alum">
    <div class="two wide left aligned column"><h4>ALUMNI</h4></div>
    <div class="ten wide left aligned column content">
        <div class="ui container">
            <div class="ui stackable four column grid">
                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src={{asset "images/default-user-image.jpg"}} class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Johnathan Chen</h3>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src={{asset "images/default-user-image.jpg"}} class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Chuhan Shen</h3>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src={{asset "images/default-user-image.jpg"}} class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Katie Jiang</h3>
                </div>

                <div class="column center aligned headshot">
                    <div class="ui image">
                        <img src={{asset "images/default-user-image.jpg"}} class="avatar">
                        <div class="filter"></div>
                    </div>
                    <h3>Laura Gao</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br/>
<div id="about-faq" class="ui twelve column centered grid about" id="faq">
    <div id="about-faq-header" class="two wide left aligned column"><h4>FAQ</h4></div>
    <div id="about-faq-text" class="ten wide left aligned column content">
        <div class="ui basic segment">
            <div class="ui list">
                <div class="item">
                    I have some follow-up questions for the guests. Can I ask them?
                </div>
                <br/>
                <div class="description" style="padding-left:50px">You can send an email to <a
                        href="mailto:writers@thesign.al">writers@thesign.al</a> with any
                    question that you might have. We'll try our best to get the response and most likely even edit your
                    question into the article!
                </div>
                <br/>
                <div class="item">
                    I know a few alumni who would be wonderful additions to this. How
                    can I go about making the introduction?
                </div>
                <br/>
                <div class="description" style="padding-left:50px">If you personally know any interesting alumni who
                    would like to share their story, don't hesitate to reach out to us with an email at
                    writers@thesign.al. We'd love to work with you potentially to come up with questions and if you are
                    up for it, even doing the interview together!
                </div>
            </div>
        </div>
    </div>
</div>
<br><br/>
