{{!< default}}
{{> header}}

<br/>
<div class="ui centered grid" id="projects-header">
    <div class="two wide right aligned column" id="projects-social-links">
        {{> social-links}}
    </div>
    <div class="ten wide center aligned column">
        <img class="ui huge image" id="marquee" src="{{asset "images/graphic_tower.svg"}}">
    </div>
</div>

<div class="ui centered grid" id="projects">
    <div id="project-item" class="row">
        <div id="project-header" class="two wide right aligned column">
            <h4>2018</h4>
        </div>
        <div id="project-image" class="three wide right aligned column">
            <div class="ui rounded image">
                <img src="{{asset "images/website.png"}}">
            </div>
        </div>
        <div id="project-text" class="seven wide left aligned column">
            <div class="ui basic segment">
                <br/>
                <br/>

                <h2>The Website Relaunch</h2>
                <span class="icon link outline colored"></span>
                <a href="http://www.thesign.al">www.thesign.al</a>
                <p><br/>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales, augue non facilisis
                    tempor, nisl erat ullamcorper nisi, eget fermentum enim urna vitae ex. Phasellus faucibus mattis
                    odio, in vehicula nunc venenatis nec. Pellentesque neque odio, pellentesque nec diam sed, finibus
                    dapibus erat. Sed nec est porta, pretium elit ac, faucibus elit. Suspendisse mattis ligula a
                    venenatis bibendum. Aenean quis velit nec purus lobortis efficitur. Maecenas sodales leo non diam
                    porta, eget aliquet dui consectetur. Mauris eget viverra nisi, eu bibendum sapien.
                </p>
            </div>
        </div>
    </div>

    <div id="project-item" class="row">
        <div id="project-header" class="two wide right aligned column">
        </div>
        <div id="project-image" class="three wide right aligned column">
            <div class="ui rounded image">
                <img src="{{asset "images/pathways.png"}}">
            </div>
        </div>
        
        <div id="project-text" class="seven wide left aligned column">
            <div class="ui basic segment">
                <br/>
                <br/>

                <h2>Deconstructing Penn Pathways</h2>
                <span class="icon link outline colored"></span>
                <a href="http://thesign.al/pathways">www.thesign.al/pathways</a>
                <p><br/>
                    During the spring of 2018, we used student career and internship data provided by Penn
                    Career Services to create a visualization of the different paths that the Class of 2017 pursued
                    over their four years at Penn. In the visualization, bands of varying width represent the number
                    of students that entered a certain field each year. The purpose was to find out what students of
                    each school did at their jobs and summer internships and whether or not preconceptions about
                    the "most popular industries" were true. The resulting product showed a surprising amount of
                    diversity in the paths chosen by students, with the largest bands in each school being "Other,"
                    indicating that there are many more students that pursue less mainstream paths than expected.
                    We<a href="https://www.thedp.com/article/2018/11/signal-career-penn-preprofessional-deconstructing-penn-pathways-upenn">
                        shared these results with the Penn community</a>
                    in the hopes of providing students with more insight and background while they consider future
                    professional opportunities.
                </p>
            </div>
        </div>
    </div>

    <div id="project-item" class="row">
        <div id="project-header" class="two wide right aligned column">
            <h4></h4>
        </div>
        <div id="project-image" class="three wide right aligned column">
            <div class="ui rounded image">
                <img src="{{asset "images/anniversary.png"}}">
            </div>
        </div>

        <div id="project-text" class="seven wide left aligned column">
            <div class="ui basic segment">
                <br/>
                <br/>
                <h2>One-Year Anniversary Feature</h2>

                <span class="icon link outline colored"></span>
                <a href="http://www.thesign.al">www.thesign.al/pages/anniversary</a>
                <p><br/>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales, augue non facilisis
                    tempor, nisl erat ullamcorper nisi, eget fermentum enim urna vitae ex. Phasellus faucibus mattis
                    odio, in vehicula nunc venenatis nec. Pellentesque neque odio, pellentesque nec diam sed, finibus
                    dapibus erat. Sed nec est porta, pretium elit ac, faucibus elit. Suspendisse mattis ligula a
                    venenatis bibendum. Aenean quis velit nec purus lobortis efficitur. Maecenas sodales leo non diam
                    porta, eget aliquet dui consectetur. Mauris eget viverra nisi, eu bibendum sapien.
                </p>
            </div>
        </div>
    </div>

    <div id="project-item" class="row">
        <div id="project-header" class="two wide right aligned column">
            <h4>2017</h4>
        </div>
        <div id="project-image" class="three wide right aligned column">
            <div class="ui rounded image">
                <img src="{{asset "images/swm.png"}}">
            </div>
        </div>

        <div id="project-text" class="seven wide left aligned column">
            <div class="ui basic segment">
                <br/>
                <br/>
                <h2>Squirrels Without Morality</h2>

                <span class="icon link outline colored"></span>
                <a href="http://www.squirrelswithoutmorality.com">squirrelswithoutmorality.com</a>
                <p><br/>
                    We recognized that Penn could be a stressful and intense place. We created Squirrels Without
                    Morality as a light-hearted medium for students to laugh at the absurdity of Penn's culture
                    sometimes. The original deck has ~200 total cards. Our card ideas come from the creativity of our
                    team and from the Penn community, from comedy groups to procrastination experts. We also conducted
                    in-depth research from quality sources such as the OUPSCC (Meme) Facebook page and Under the
                    Button. In its first print/release in Fall 2017, all 250 pre-order decks were sold out, becoming a
                    hit across Penn’s campus. A reprint of the original deck was released in Fall 2018, and an expansion
                    pack is expected for Spring 2019. (Note: Squirrels Without Morality is a work of satire. It is not
                    intended to offend anyone.)
                </p>
            </div>
        </div>
    </div>

</div>