{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<!-- start content area -->
{{#post}}
	<div class="main-content-area single-post">
		<article>
			<div class="post-head{{#unless feature_image}} no-image{{/unless}}" {{#if feature_image}}style="background-image:url({{feature_image}});"{{/if}}>
			</div>
			<div class="container">
				<div class="row">
                    <div class="ui centered grid">
                    <div class="four wide center aligned column">

                            <!--<div class="left ui rail">-->


                            <!--</div>-->

                        <!--<div class="stretched collapsed row">-->

                            <!--<div class="ui left visible labeled sidebar menu">-->
                                <!--&lt;!&ndash;<div id="sidebar">&ndash;&gt;-->

                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="ui centered grid">&ndash;&gt;-->
                                <!--&lt;!&ndash;{{> social-links}}&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--</div>-->
                            <!--&lt;!&ndash;<div class="pusher"></div>&ndash;&gt;-->
                    </div>

                    <div class="twelve wide column left aligned">
                        <!--<div class="ui container">-->
                            <div class="ui segment" id="article-content">
                                <div class="left ui rail">
                                    <div class="ui sticky">
                                        <div class="ui segment" id="sidebar">
                                            <h4 class="ui header">TABLE OF CONTENTS</h4>
                                            <a class="item">1</a>
                                            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="ui left aligned container">-->
                                    <!--<div class="row">-->
                                        <div class="post meta">
                                            {{#if tags}}
                                                <span class="category">
                                                    {{tags separator=", "}}
                                                </span>
                                            {{/if}}
                                            <h1 class="ui header">{{title}}</h1>

                                            <!--<div class="post-meta">-->
                                            {{#author}}
                                                <a class="author" href="{{url}}" rel="author">
                                                    <span class="name">{{name}}</span>
                                                </a>
                                            {{/author}}
                                            <time class="time" datetime="{{date format="YYYY-MM-DD HH:MM:SS"}}" itemprop="datePublished">| {{date format="MMMM DD, YYYY"}}</time>
                                            <!--</div>-->
                                        </div>
                                    <!--</div>-->
                                    {{content}}
                                <!--</div>-->
                            </div>
                        <!--<div class="ui left aligned text container">-->
                            <!---->
                        <!--</div>-->
                    <!--</div>-->
                    </div>

					</div>
				</div>
            </div>
        </article>
        <br>
            <div class="ui stackable centered grid">
                <div class="four wide column">
                    {{> about-author}}
                </div>
                <div class="four wide column">
                    {{> prev-next}}
                </div>
                <div class="four wide column">
                    {{> prev-next}}
                </div>
			</div>
		<!--</article>-->
</div>
{{/post}}
<!-- end content area -->