{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<!-- start content area -->
{{> header}}

{{#post}}
    <div class="main-content-area single-post">
        <div class="ui article">
            <!--<article>-->
            {{#if feature_image}}
                <img class="image" src="{{feature_image}}">
            {{/if}}

            <div class="ui centered grid" id="article-grid">
                <div class="four wide column" id="sidebar-column">
                    <div class="ui sticky">
                        <script>
                        </script>
                        <div class="sidebar-button-container ui sticky">
                            <button id="sidebar-button" onclick = "toggleSidebar()">
                                HAM
                            </button>
                        </div>
                        <div class="sidebar">
                            <div class="ui basic segment" id="sidebar">
                                <h4 class="ui header">TABLE OF CONTENTS</h4>
                            </div>
                            <div class="ui basic segment" id="sidebar">
                                {{> social-links}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twelve wide column left aligned">
                    <div class="ui basic segment" id="article-content">
                        <div class="post meta">
                            <span class="article-type">INTERVIEW</span>&nbsp;&nbsp;
                            {{#if tags}}
                                {{#foreach tags}}
                                    <a class="ui label filled" href="{{url}}">{{name}}</a>
                                {{/foreach}}
                            {{/if}}
                            <h1>{{title}}</h1>
                            <div class="meta">
                                {{#author}}
                                    {{#if profile_image}}
                                        <img class="avatar" src="{{profile_image}}" alt="avatar">
                                    {{else}}
                                        <i class="user circle outline"></i>
                                    {{/if}}
                                    <a class="author" href="{{url}}" rel="author">
                                        <span class="name">{{name}}</span>
                                    </a>
                                {{/author}}
                                <time class="time" datetime="{{date format="YYYY-MM-DD HH:MM:SS"}}"
                                      itemprop="datePublished">| {{date format="MMMM DD, YYYY"}}</time>
                            </div>
                        </div>
                        <br><br/>
                        <div class="content" id="content">
                            {{content}}
                        </div>
                    </div>
                    <br><br/>
                    <div class="ui grid extra content">
                        <div class="row">
                            <div class="eight wide column">
                                <h3>AUTHOR</h3>
                                {{> about-author}}
                            </div>
                            <div class="eight wide column"><h3>READ NEXT</h3>{{> prev-next}}</div>
                        </div>
                        <div class="row">
                            <div class="sixteen wide column">{{> widget-subscribe}}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--</article>-->

    <!--</article>-->
{{/post}}
<!-- end content area -->